/* GENERALS */

.btn {
  width: 140px;
  height: 48px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 0;
  background: lightgray;
}

h2 {
  font-size: 2rem;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}

p {
  font-size: 1rem;
}

.card {
  margin-top: 40px;
  width: 100%;
  height: 360px;
  background-size: cover;
  border-radius: 0;
}

.card:hover {
  opacity: .9;
}

.card h3 {
  color: #FFF;
  text-align: center;
  margin-top: 10vh;
}

.btncall {
  display: block;
  margin: 40px auto 0 auto;
  background: #FF5158;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 0; 
  width: 140px;
  height: 48px;
  padding: 10px;
}

.btncall:hover {
  background: rgb(221, 77, 82);
  transition: all .3s;
  color: #FFF;
}

.btncall:focus {
  outline: none;
  box-shadow: none;
}

.cardbtn {
  background: none;
  text-align: center;
  border: 1px solid #FFF;
  color: #FFF;
  width: 140px;
  height: 48px;
  border-radius: 0;
  padding: 10px;
  display: block;
  margin: 150px auto 0 auto;
}

.cardbtn:hover {
  background: #FFF;
  transition: all .3s;
  text-decoration: none;
}

.card a:hover {
  text-decoration: none;
}


/* MENUS */

#redbar {
  height: 40px;
  width: 100%;
  background: #FF5158;
}

#redbar div {
  display: flex;
  justify-content: flex-end;
}

#redbar div ul:first-child {
  display: none;
}

#redbar div ul {
  list-style: none;
  padding: 0;
  margin-top: 2px;
  display: flex;
  justify-content: flex-end;
}

#redbar div ul li {
  padding: 6px 15px;
  color: #FFF;
  font-size: 14px;
}

#redbar ul a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #FFF;
}

#redbar ul a:hover svg path {
  fill: rgba(255, 255, 255, .8);
}


.navbar {
  background: #FFF;
}

.navbar li a {
 font-size: 18px;
 color: #707070;
 padding: 5px 15px;
}

.nav-item {
  padding: 10px 0;
  text-align: center;
}

.navbar-brand img {
  width: 70%;
}

.navbar-brand:hover {
  opacity: .9;
}

.navbar-light .navbar-toggler {
  border: none;
  font-size: 1.3rem;
}

.navbar-toggler:focus {
  outline: none;
}

.menulabel {
  color: #707070;
}

.icon-bar {
	width: 30px; 
	height: 4px;
	background-color: #707070;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
  outline: none;
}

.navbar-toggler .toggle-wrapper.on .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .toggle-wrapper.on .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .toggle-wrapper.on .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .toggle-wrapper.on .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .toggle-wrapper.on .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .toggle-wrapper.on .bottom-bar {
  transform: rotate(0);
}

.toggle-wrapper {
  display: inline-block;
}


/* PRESENTATION */

#presentation {
  position: relative;
  height: 600px;
  width: 100%;
  background: url('../img/abre.jpg') no-repeat center center;
  background-size: cover;
}

#presentation::after {
  content: '';
  display: block;
  width: 100%;
  height: 137px;
  bottom: 0;
  position: absolute;
  background: url('../img/divisor.png') no-repeat center center;
  background-size: cover;
}

#presentation h1 {
  font-size: 32px;
  color: #FFF;
  margin-top: 60px;
  position: relative;
}

#presentation h1::after {
  content: '';
  display: block;
  width: 15%;
  height: 7px;
  bottom: -15px;
  position: absolute;
  background: #FF5158;
  background-size: cover;
}

#presentation p:first-of-type {
  margin-top: 60px;
}

#presentation p {
  color: #FFF;
}

#presentation .btn {
  background-color: #00C066;
  color: #FFF;
  margin-top: 20px;
  font-size: 16px;
}

#presentation .btn:hover {
  background: #04ac5e;
}

/* CONSULTING */

#cons {
  position: relative;
}

#cons::after {
  content: '';
  display: block;
  width: 100%;
  height: 137px;
  bottom: -137px;
  position: absolute;
  background: url('../img/divisor-2.png') no-repeat center center;
  background-size: cover;
}

#cons .card {
  background: url('../img/card.jpg') no-repeat center center;
  background-size: cover;
}

#cons a.cardbtn:hover {
  color: #4893C2;
}


/* TRAINNING */

#trainning {
  padding: 20vh 0 10vh 0;
  background: #4893c2;
  color: #FFF;
}

#trainning .card {
  background: url('../img/card-2.jpg') no-repeat center center;
  background-size: cover;
}

#trainning a.cardbtn:hover {
  color: #00C066;
}

#trainning .btncall {
  background: none;
  border: 1px solid #FFF;
}

#trainning .btncall:hover {
  background: #FFF;
  color: #4893c2;
}


/* WHO */

#who {
  padding-top: 10vh;
}

#who .intro {
  padding-bottom: 30px;
}

#who .leaf {
  margin-top: -23%;
  text-align: center;
}

#who .leaf img {
  padding-bottom: 20px;
}

#who .leaf h3 {
  text-transform: uppercase;
  font-size: 24px;
}

#who .leaf p {
  font-size: 18px;
}

#who .marca-tree {
  margin: 0 auto;
  display: block;
}

#who .btncall {
  background: #403F3F;
}

#who .btncall:hover {
  background: rgb(51, 51, 51)
}


/* FOOTER */
.footer {
  padding: 60px 10px;
  background: #232222;
  margin-top: 60px;
  color: #FFF;
}

footer {
  position: relative;
}

footer::before {
  content: '';
  display: block;
  position: absolute;
  width: 103%;
  height: 50px;
  top: -8px;
  left: -20px;
  background: url('../img/ornamento.png');
  background-size: cover;
  background-repeat: repeat-x;
}

.footer ul {
  padding-left: 0;
}

.footer h3 {
  padding-bottom: 20px;
  position: relative;
  font-weight: bold;
}

.footer h3::after {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  width: 20%;
  bottom: 10px;
  background: #FF5158;
}

.footer ul li {
  list-style: none;
}

.footer .redes li {
  display: inline; 
  padding-right: 20px;
}

.footer .redes li a:hover {
  text-decoration: none;
  opacity: .9;
}

.sub-footer {
  height: 50px;
  background: #FF5158;
}

.sub-footer p {
  color: #FFF;
  font-size: 14px;
  padding-top: 14.5px;
  text-align: center;
}

.ig a:hover svg #ig {
  fill: #E9486A;
  transition: all .3s ease;
}

.tt a:hover svg #tt {
  fill: #1da1f2;
  transition: all .3s ease;
}

.fb a:hover svg #fb {
  fill: #4267b2;
  transition: all .3s ease;
}

/* RESPONSIVE */

@media (max-width: 767px) {
  #who .leaf {
    margin-top: initial;
    margin-bottom: 60px;
  }
  .footer img {
    width: 60%;
    display: block;
    margin: 0 auto 60px auto;
  }
}

@media (max-width: 576px) {
  .leaf img {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .footer iframe {
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  #redbar div ul:first-child {
    display: flex!important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h2 {
    font-size: 48px;
  }
  
  p {
    font-size: 1.2rem;
  }

  #presentation h1 {
    font-size: 48px;
  }

  #presentation p {
    font-size: 22px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
.navbar li a {
  position: relative;
}

.navbar li a::before, .navbar li a::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #FF5158;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all .3s;
}

.navbar li a::before {
  top: 0;
  transform: translateY(-10px);
}

.navbar li a::after {
  bottom: 0;
  transform: translateY(10px);
}

.navbar li a:hover:before, .navbar li a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

.navbar li a.active::before, .navbar li a.active::after {
  opacity: 1;
  transform: translateY(0px);

}


#sobre #perfil {
  margin: 100px 0;
  position: relative;
}

#sobre #perfil .foto {
  position: relative;
}

#sobre #perfil .foto::before {
  content: '';
  display: block;
  position: absolute;
  background: url('../img/ornamento-foto.png') no-repeat;
  width: 100%;
  height: 91px;
  top: -39px;
  right: -85%;
}

#sobre #perfil .foto::after {
  content: '';
  display: block;
  position: absolute;
  background: url('../img/ornamento-foto.png') no-repeat;
  width: 100%;
  height: 91px;
  bottom: -39px;
  left: -5%;
}

#sobre #perfil .foto img {
  margin-bottom: 0!important;
}


.footer img {
  width: 60%;
}

.footer .contato, .footer .redes {
  margin-bottom: 30px;
}


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}




/* SOBRE */

#sobre #presentation {
  height: 400px;
}

#sobre #perfil h3 {
  font-weight: bold;
}

#sobre #perfil p {
  font-size: 18px;
  font-family: 'Open sans', sans-serif;
  line-height: 30px;
}

#sobre #perfil .texto {
  margin-top: 60px;
}

#sobre #perfil .foto img {
  border: 4px solid #4893C2;
  display: block;
  margin: 0 auto 60px auto;
}

#sobre #presentation {
  background: url('../img/sobre-abre.jpg') no-repeat;
}