/* ESTILOS GERAIS */

.btn:focus, .btn:active {
  outline: none;
  box-shadow: none;
}

.cardbtn{
  background: none;
  text-align: center;
  border: 1px solid #FFF;
  color: #FFF;
  width: 140px;
  height: 48px;
  border-radius: 0;
  padding: 10px;
  display: block;
  margin: 150px auto 0 auto;
}

.cardbtn:hover {
  background: #FFF;
  transition: all .3s;
}


.card {
  margin-top: 40px;
  width: 100%;
  height: 360px;
  background-size: cover;
  border-radius: 0;
}

.card:hover {
  opacity: .9;
}

.card h3 {
  color: #FFF;
  text-align: center;
  margin-top: 10vh;
}


/* HEADER */
header #top-bar {
  height: 40px;
  width: 100%;
  background: #FF5158;
}

header #top-bar div {
  display: flex;
  justify-content: flex-end;
}

header #top-bar div ul:first-child {
  padding-top: 2px;
}

header #top-bar div ul, nav#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

header #top-bar div ul li {
  padding: 6px 15px;
  color: #FFF;
  font-size: 14px;
}

header #top-bar ul a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #FFF;
}

header #top-bar ul a:hover svg path {
  fill: rgba(255, 255, 255, .8);
}

/* MENU */

.navbar {
  background: #FFF;
}

.navbar a {
  color: #707070;
}

.navbar li a {
 font-size: 18px;
 padding: 5px 15px;
}

.navbar-brand img {
  width: 70%;
}

.navbar-brand:hover {
  opacity: .9;
}

.navbar-light .navbar-toggler {
  border: none;
  font-size: 1.3rem;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  font-size: 2rem;
}

.icon-bar {
	width: 30px; 
	height: 4px;
	background-color: #707070;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
  outline: none;
}
 
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.toggle-wrapper {
  display: inline-block;
}

@media only screen and (min-width: 990px) {
  .navbar li a {
    position: relative;
  }
  
  .navbar li a::before, .navbar li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #FF5158;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all .3s;
  }
  
  .navbar li a::before {
    top: 0;
    transform: translateY(-10px);
  }
  
  .navbar li a::after {
    bottom: 0;
    transform: translateY(10px);
  }
  
  .navbar li a:hover:before, .navbar li a:hover:after {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 889px) {
  .nav-item {
    padding: 20px;
    border-bottom: 2px solid #FF5158;
    text-align: center;
  }
  .nav-item:last-child {
    border-bottom: none;
  }
}


/* PRESENTATION */

#presentation {
  position: relative;
  margin-top: 140px;
  height: 600px;
  width: 100%;
  background: url('../img/abre.jpg') no-repeat center center;
  background-size: cover;
}

#presentation::after {
  content: '';
  display: block;
  width: 100%;
  height: 137px;
  bottom: 0;
  position: absolute;
  background: url('../img/divisor.png') no-repeat center center;
  background-size: cover;
}

#presentation h1 {
  font-size: 48px;
  color: #FFF;
  margin-top: 60px;
  position: relative;
}

#presentation h1::after {
  content: '';
  display: block;
  width: 15%;
  height: 7px;
  bottom: -15px;
  position: absolute;
  background: #FF5158;
  background-size: cover;
}

#presentation p:first-of-type {
  margin-top: 60px;
}

#presentation p {
  color: #FFF;
  font-size: 22px;
}

#presentation .btn {
  background: #00C066;
  color: #FFF;
  border-radius: 0;
  text-transform: uppercase;
  width: 140px;
  height: 48px;
  margin-top: 40px;
  padding: 10px;
}

#presentation .btn:hover {
  background: #04ac5e;
}


/* CONSULTORIA */

#cons {
  height: 80vh;
  position: relative;
}

#cons::after {
  content: '';
  display: block;
  width: 100%;
  height: 137px;
  bottom: -137px;
  position: absolute;
  background: url('../img/divisor-2.png') no-repeat center center;
  background-size: cover;
}

#cons h2 {
  font-size: 48px;
  text-align: center;
  position: relative;
}

#cons h2::before, #trainning h2::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 78px;
  background: url('../img/call.png') no-repeat;
  left: 6%;
  top: -15%;
}

#cons .intro {
  margin-top: 40px;
}

#cons .intro p {
  font-size: 18px;
}

#cons .card {
  background: url('../img/card.jpg') no-repeat center center;
}

#cons .btn, #trainning .btn {
  display: block;
  margin: 40px auto 0 auto;
  background: #FF5158;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 0; 
  width: 140px;
  height: 48px;
  padding: 10px;
}

#cons a.cardbtn:hover {
  color: #4893C2;
}

#cons .btn:hover, #trainning .btn:hover {
  background: rgb(221, 77, 82);
  transition: all .3s;
}

#cons a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #cons h2::before, #trainning h2::before {
    left: -1%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #cons h2::before, #trainning h2::before {
    left: -20%;
  }
}


/* TREINAMENTOS */

#trainning {
  height: 100vh;
  padding-top: 20vh;
  background: #403F3F;
}

#trainning h2 {
  color: #FFF;
  text-align: center;
  font-size: 48px;
}

#trainning p {
  color: #FFF;
  font-size: 18px;
  margin-top: 40px;
}

#trainning .card {
  background: url('../img/card-2.jpg') no-repeat center center;
}

#trainning a.cardbtn:hover {
  text-decoration: none;
  color: #00C066;
}