$primary-color: #4EA5D9;
$sec-color: #19647E;
$grey: #CCC;

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: $primary-color;
  .navbar-brand {
    width: 70%;
  }
  .navbar-toggler {
    border: none;
    color: #FFF;
    span {
      &:first-child {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}


#navbarSupportedContent {
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 99999;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all .2s linear;
  .btnclose {
    background: $sec-color;
    display: flex;
    align-items: center;
    align-self: flex-end;
    border-radius: 0;
    width: 50px;
    height: 50px;
    padding: .5rem;
    cursor: pointer;
  }
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  form {
    width: 100%;
    div {
      width: 100%;
      position: relative;
    }
    input {
      border-radius: 20px;
      margin-top: 40px;
      width: 100%;
      color: $primary-color;
      font-size: 18px;
      font-weight: 500;
      padding-left: 20px;
      &::placeholder {
        color: $primary-color;
      }
      &:focus {
        outline: none;
        box-shadow: none;
        border-color: #ced4da;
      }
    }
    button {
      position: absolute;
      top: 56%;
      right: 4%;
      background: #FFF;
      border: none;
      cursor: pointer;
    }
  }
}

.navbar-nav {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  margin-top: 40px;
  .nav-item {
    padding: 15px;
    .nav-link {
      color: $primary-color;
      font-size: 20px;
      &:hover {
        color: $primary-color;
      }
    }
    &.active {
      background: $primary-color;
      .nav-link {
        color: #FFF;
        font-weight: bold;
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: $grey;
    bottom: -5%;
    left: 10%;
  }
}


.social {
  margin-top: 60px;
  h5 {
    color: $sec-color;
    font-weight: normal;
    font-size: 20px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 20px 0 60px 0;
    list-style-type: none;
  }
}

.carousel-indicators {
  position: absolute;
  bottom: -20%;
  li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D4D4D4;
    &.active {
      background-color: $primary-color;
      width: 15px;
      height: 15px;
    }
  }
}

.carousel-caption {
  right: 0;
  left: 0;
  padding: 20px;
  text-align: left;
  bottom: -5%;
  height: 190px;
  background-image: linear-gradient(transparent, black);
  h4 {
    position: absolute;
    bottom: 10%;
    width: 90%;
    font-size: 24px;
    font-weight: normal;
  }
}

#main {
  margin-top: 80px;
  .card{
    border: 1px solid #CCCCCC;
    border-radius: 0;
    margin-bottom: 40px;
    .card-img-top {
      border-radius: 0;
      width: 100.2%;
      height: 178px;
    }
    .card-title {
      font-size: 20px;
    }
    p {
      color: #333333;
    }
    .card-link {
      font-size: 14px;
      color: $sec-color;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
    .bdg {
      display: flex;
      .badge {
        display: flex;
        background: $primary-color;
        color: #FFF;
        text-transform: uppercase;
        font-weight: normal;
        justify-content: center;
        align-items: center;
        width: 95px;
        height: 28px;
        font-size: 15px;
        border-radius: 0px;
        margin: 5px 5px;
      }
    }
  }
  button {
    background: $sec-color;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
}


#anuncio {
  margin-top: 40px;
  img {
    background: #F8F8F8;
    padding: 20px;
  }
}


#populares {
  margin-top: 40px;
  h2 {
    padding: 20px;
    color: #333333;
    font-weight: normal;
    font-size: 28px;
    border: 1px solid #CCC;
    span {
      font-weight: bold;
    }
  }
  .card {
    border-radius: 0;
    border: none;
    .card-image {
      position: relative;
      span {
        position: absolute;
        bottom: 0;
        left: 0;
        text-transform: uppercase;
        font-size: 15px;
        color: #FFF;
        background: $primary-color;
        padding: 4px 20px;
      }
      .card-img-top {
        border-radius: 0;
      }
    }
    .card-body {
      border: 1px solid #CCCCCC;
      border-top: 0;
    }
    .noimg {
      height: 50px;
      border: 1px solid #CCC;
      border-bottom: 0;
    }
   
    .card-title {
      font-weight: bold;
    }
  }
}


#sobre {
  margin-top: 40px;
  h2 {
    padding: 20px 20px 20px 0;
    color: #333333;
    font-weight: normal;
    font-size: 28px;
    span {
      font-weight: bold;
    }
  } 
  img {
    border-radius: 0;
  }
  .card {
    padding: 20px;
    border-radius: 0;
  }
  .card-title {
    color: $primary-color;
    font-size: 22px;
  }
  .subtitle {
    color: #333333;
    font-size: 18px;
  }
  .card-text {
    color: #666666;
    font-size: 16px;
  }
  .card-body {
    padding-left: 0;
  }
}

#tags {
  margin-top: 40px;
  .badges {
    border: 1px solid #CCC;
    padding: 20px;
    h2 {
      margin-bottom: 20px;
      font-size: 28px;
    }
    .badge {
      background: #F8F8F8;
      color: #666;
      border-radius: 0;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: normal;
      padding: 10px 10px;
      margin: 5px 3px;
    }
  }
}

#facebook, #instagram {
  margin-top: 40px;
  .facebook, .ig {
    border: 1px solid #ccc;
    padding: 20px;
    h2 {
      margin-bottom: 20px;
      font-size: 28px
    }
  }
}

@media (max-width: 385px) {
  .navbar-toggler span:first-child {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }